body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}

.hourglass-container {
    width: 100dvw;
    height: 50dvh;
    display: grid;
    grid-template-rows: 100%;
}

.hourglass-container > * {
    min-height: 100%;
    max-height: 100%;
    grid-row: 1;
    grid-column: 1;
}